.review-form {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 250px;
    margin-top: 35px;
    margin-bottom: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    padding: 15px;
}

.review-form-title{
    text-align: center;
}