.solar-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    height: 25%;
    float: right;
}

.solar-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.solar-title {
    font-size: 20px;
}