.solar-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 200px;
    
}

.solar-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.solar-title {
    font-size: 20px;
    padding-bottom: 25px;
}


.heater-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 200px;
    
}

.heater-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.heater-title {
    font-size: 20px;
    padding-bottom: 25px;
}

.water-heater-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 200px;
    
}

.water-heater-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.water-heater-title {
    font-size: 20px;
    padding-bottom: 25px;
}

.light-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 200px;
    
}

.light-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.light-title {
    font-size: 20px;
    padding-bottom: 25px;
}

.window-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 200px;
    
}

.window-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.window-title {
    font-size: 20px;
    padding-bottom: 25px;
}

.appliance-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 200px;
    
}

.appliance-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.appliance-title {
    font-size: 20px;
    padding-bottom: 25px;
}

.lowFlow-container {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 200px;
    
}

.lowFlow-container:hover {
    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
    cursor: pointer;
}

.lowFlow-title {
    font-size: 20px;
    padding-bottom: 25px;
}